<%- include('partials/header') -%>


  <section id="forum-section">
    <div class="forum-container">
      <div class="forum-box">
        <div class="forum-box-title">
          <h2>Community Forum</h2>

        </div>


        <% let i; %>
        <% result.forEach(function(i){ %>

        <div class="forum-box-1">
          <h3 id="forum-box-title"><%= i.title%></h3>
          <p id="forum-box-content"><%= i.content%></p>
          <form class="" action="/forum" method="post">
            <div class="form-group row">

            <label for="Comment" class="col-lg-3">Add A Comment</label>
            <input type="textarea" name="review" value="" id="Comment" class="form-control col-lg-3" autocomplete="off">

            <input type="hidden" name="post_id" value="<%= i._id %>">
            <button class="btn btn-post col-lg-2" type="submit" name="button">Post</button>
            <br>
            <a href="/comments/<%= i._id %>" class="col-lg-3">Click to see all comments</a>
          </div>

          </form>

        </div>

        <% }); %>





      </div>

    </div>

  </section>



<%- include('partials/footer') -%>
